.Post {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-align: center;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
}

.Date {
  font-style: italic;
  text-rendering: optimizeLegibility;
}
.Title {
  font-weight: bold;
}

.Post:hover {
  cursor: pointer;
  /* transform: scale(1.03); */
  /* box-shadow: 10px 10px 10px #004466; */
}
