.CenterDetails {
  align-items: center;
  justify-content: center;
  max-width: 960px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.Center_card {
  box-sizing: border-box;
  border: 1px solid black;
  font-weight: 700;
  line-height: 1.3;
}

.Center_card > h4 {
  color: #ca4740;
}

.Center_description {
  box-sizing: content-box;
  /* border: 1px solid black; */
  margin-top: 10px;
}

.Center_description > a {
  background-color: #ca4740;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.Center_description > a:hover {
  background-color: black;
}
