.Notifications {
  display: flex;
  /* margin-left: 40px; */
  width: 100%;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

/* .Notifications div {
  width: 33.3%;
} */
.Notifications > div {
  flex: 1; /*grow*/
  flex-basis: 100%;
}

.Notifications > div {
  width: 300px;
}

.Notifications__box {
  box-shadow: black;
  margin-right: 20px;
}

.Notifications h4 {
  background-color: rgb(202, 71, 64);
  color: white;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  .Notifications {
    display: block;
  }
  .Notifications div {
    width: 100%;
  }
}
@media only screen and (max-width: 1080px) and (min-width: 750px) {
  .Notifications {
    display: block;
  }

  .Notifications div {
    width: 100%;
  }
}
