.Centers {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 40px;
}

.Centers__right {
  width: 100%;
  padding: 10px;
}

.Centers__left {
  width: 100%;
  padding: 10px;
}

.Centers > * :nth-child(1) {
  flex: 1 1 30%;
}
.Centers > * :nth-child(2) {
  flex: 1 1 70%;
}

.Centers__title {
  width: 100%;
  margin-top: 80px;
  color: white;
  background-color: #ca4740;
  padding: 8px;
  text-align: center;
}
@media only screen and (max-width: 775px) {
  .Centers {
    display: block;
  }
}
