.Centers {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.Centers__title {
  width: 100%;
  margin-top: 80px;
  color: white;
  background-color: #ca4740;
  padding: 8px;
  text-align: center;
}
