.Centers {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #f3f3f3;
  margin-top: 30px;
  /* padding: 40px; */
}

.Centers__right {
  width: 100%;
  padding: 10px;
  flex: 1 1 0;
}

.Centers__left {
  width: 100%;
  padding: 10px;
  flex: 2 1 0;
  margin-bottom: 30px;
  /* align-items: center;
  justify-content: center; */
}

.Centers > * :nth-child(1) {
  flex: 1 1 30%;
}
.Centers > * :nth-child(2) {
  flex: 1 1 70%;
}

.Centers__title {
  width: 100%;
  /* margin-top: 80px; */
  font-size: 3.2rem;
  color: gray;
  border-bottom: 1px solid gray;
  text-align: center;
}
@media only screen and (max-width: 775px) {
  .Centers {
    display: block;
  }
}
