.Queries {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 40px;
  /* align-items: center; */
}

.Queries__list {
  width: 90%;
  padding: 10px;
  flex: 2 1 0;
  margin-bottom: 40px;
  /* margin-left: 20px; */
}
.Queries__title {
  width: 100%;
  flex: 1 1 0;
  /* height: fit-content; */
}

.Queries__title > p {
  width: 100%;
  background-color: #100555;
  height: fit-content;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.button {
  margin-top: 10px;
  background-color: #112a54;
  border: black;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 100px;
}

.button:hover {
  background-color: #100555;
}

@media only screen and (max-width: 800px) {
  .Queries {
    display: block;
  }

  .Queries__title {
    width: 90%;
  }
}
