.Queries {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 40px;
  /* align-items: center; */
}

.Queries__list {
  width: 90%;
  padding: 10px;
  /* margin-left: 20px; */
}

.Queries__title {
  /* height: fit-content;
  color: white;
  background-color: #ca4740;
  /* padding: 10px; */
  /* width: max-content; */
  margin-top: 10px;
  background-color: #112a54;
  border: black;
  color: white;
  padding: 10px;
  border-radius: 2px;
  height: fit-content;
  width: 200px;
}

.button {
  margin-top: 10px;
  background-color: #112a54;
  border: black;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 100px;
}

.button:hover {
  background-color: #100555;
}
