.Post {
  width: 90%;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 1px 1px #e4e4e4;
  color: black;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
}

.Date {
  font-style: italic;
  text-rendering: optimizeLegibility;
  color: gray;
}
.Title {
  font-weight: bold;
}

.Post:hover {
  cursor: pointer;
  /* transform: scale(1.03); */
  /* box-shadow: 10px 10px 10px #004466; */
}
