@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
.wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  align-content: flex-end;
  flex-wrap: wrap;
  border: 1px solid gray;

  margin-top: 30px;
  width: fit-content;
  padding: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-right: 1px solid gray;
  background: honeydew;
  margin-right: 40px;
}

.left img {
  margin-left: 30px;
  /* width: 100%; */
}

.left h4 {
  color: #143265;
}

.header {
  text-transform: uppercase;
  margin-right: 40px;
  color: #143265;
  border-bottom: 1px solid gray;
}

.right {
  text-align: left;
}

@media only screen and (max-width: 400px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 250px;
    overflow-x: scroll;
    height: fit-content;
  }

  .left {
    border-right: 0;
    /* border-bottom: 1px solid gray; */
  }

  /* .right {
    margin-bottom: 250px;
  } */
}
