.Event {
  display: flex;
  align-items: center;
  width: 90%;
  background: white;
  /* border: 1px solid gray; */
  border-radius: 4px;
  box-sizing: border-box;
  /* padding: 8px; */
  text-align: center;
  margin-bottom: 20px;
  color: white;
  margin-right: 80px;
  box-shadow: 0 0 3px rgb(0 0 0 / 15%), -1px 0 0 rgb(0 0 0 / 3%),
    1px 0 1px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 12%);
}
.DateContainer {
  height: 100%;
  /* border-radius: 10px; */
  padding: 8px;
  background: #004466;
  /* color: white; */
}
.TitleContainer {
  margin-left: 10px;
}
.Title {
  color: #004466;
  font-weight: bold;
}
.Date {
  color: white;
  font-weight: bold;
}
.EventMode {
  background-color: gray;
}
.Event:hover {
  cursor: pointer;
  /* transform: scale(1.03);
  box-shadow: 10px 10px 10px #004466; */
}
