:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
.thetitle {
  letter-spacing: 1rem;
  background-color: #090b13;
  color: white;
  text-align: center;
  font-size: 500;
}

.Images {
  max-width: 960px;
  margin: 0 auto;
}

.imageform {
  margin: 30px auto 10px;
  text-align: center;
}

.label__name input {
  height: 0;
  width: 0;
  opacity: 0;
}

.label__name {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.label__name:hover {
  background: var(--primary);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
