.Header {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: auto 1008px; */
  /* text-align: center; */
}
.Header > h4 {
  background-color: #004466;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-align: center;
  margin-left: 100px;
  border-radius: 20px;
  cursor: pointer;
  /* margin-bottom: 100px; */
}

.socialMediaIcons {
  /* margin-right: 100px; */
  align-items: center;
  justify-content: center;
  margin: auto 0;
  padding-right: 100px;
  display: flex;
}

.Icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  /* padding: 10px; */
}
@media only screen and (max-width: 750px) {
  .Header > h4 {
    margin-left: 10px;
  }

  .socialMediaIcons {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 1080px) and (min-width: 750px) {
  .Container {
    width: 80%;
  }
}
