.PostCard {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 40px;
}

.PostCard div {
  width: 100%;
}

.PostsTitle {
  color: white;
  width: 80%;
  background-color: #ca4740;
  padding: 8px;
  text-align: center;
}
@media only screen and (max-width: 775px) {
  .PostCard {
    display: block;
  }
}
