.post {
  letter-spacing: 0.1rem;
}
.log {
  letter-spacing: 0.1rem;
}
.profile {
  letter-spacing: 0.3rem;
  background-color: #ca4740;
  border-radius: 50%;
}

.post:hover {
  transform: scaleX(1.09);
}

.log:hover {
  transform: scaleX(1.09);
}
@media (max-width: 500px) {
  .SignedIn {
    display: none;
  }
}
