.post {
  letter-spacing: 0.1rem;
}
.log {
  letter-spacing: 0.1rem;
  font-size: 14px;
}
.profile {
  letter-spacing: 0.1rem;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  font-size: 1vw;
  align-items: center;
}

.post:hover {
  transform: scaleX(1.09);
}

.log:hover {
  transform: scaleX(1.09);
}
@media (max-width: 500px) {
  .SignedIn {
    display: none;
  }
}
